/* .nav {
  background: #4c6ef8 !important;
  color: #fff !important;
}

.nav a {
  color: #fff !important;
}

.nav a:hover {
  background-color: #14256a !important;
} */

.log {
  padding: 30px 0 !important;
  margin: 0 auto !important;
  background: url(../../static/background.png) no-repeat !important;
  background-size: cover !important;
  min-height: 100vh !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
/* 
.card-wrapper {
  width: 410px !important;
  margin: 20px auto 0 auto !important;
  border-color: transparent !important;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05) !important;
  border-radius: 5px !important;
  background: rgb(255, 255, 255, 0.7) !important;
} */

